<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/bball.css">
    <title>{{user.first_name}}'s Profile</title>
</head>
<body>
    <nav>
        <h4>PSA Uniform Shop</h4>
        <ul>
            <li><a href="https://www.psaplano.org/">PSA Home</a></li>
            {{#if user}}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            <li><a href="/login"></a>Login</li>
            <li><a href="/register"></a>Register</li>
            {{/if}}
        </ul>
    </nav>

    <div class="profile mt-4">
        <h1>Welcome to PSA Uniforms</h1>
    </div>
    
    <div class="row"> 
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card text-center">
                <div class="card-header">
                    Profile Page
                </div>
                <div class="card-body">
                    <h5 class="card-title">Hey {{user.first_name}} {{user.last_name}}, welcome to PSA Uniforms!</h5>
                    <p class="card-text">You can start a new order, check on pending orders, and<br>even review completed purchases.</p>
                    <div class="profile-buttons">
                        <a href="#" class="btn btn-primary new-order" id="new-order">Start New Order</a>
                        <a href="#" class="btn btn-primary">Pending Orders</a>
                        <a href="#" class="btn btn-primary">Completed Orders</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    PSA Uniform Shop
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="sports-container" id="sports-container">
        <div class="row mt-4">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="sports-buttons">
                    <a href="#" class="btn btn-primary" id="basketballBtn">Basketball</a>
                    <a href="#" class="btn btn-primary">Soccer</a>
                    <a href="#" class="btn btn-primary">Volleyball</a>
                    <a href="#" class="btn btn-primary">Baseball</a>
                    <a href="#" class="btn btn-primary">Softball</a>
                    <a href="#" class="btn btn-primary">Football</a>
                    <a href="#" class="btn btn-primary">Cheer</a>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

    <div class="basketball-container" id="basketball-container">
        <div class="basketball-options mt-4">
            <h1>Basketball Uniforms</h1>
            <h2>Select a Style</h2>
        </div>

        <div class="options-container">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <div class="card">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Custom Jerseys</h5>
                                    <img src="/images/black.png" class="jersey">
                                    <h6 class="card-subtitle mb-2 text-muted">Price:
                                        <span class="text-success">$19.99</span>
                                        <span class="text-success">per jersey</span>
                                </div>
                                
                                <div class="card-footer">
                                    <button type="button" class="btn btn-primary">Place Order</button>
                                </div>
                            </div>
                    </div>
                </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Grab & Go Jerseys</h5>
                                <img src="/images/black.png" class="jersey">
                                <h6 class="card-subtitle mb-2 text-muted">Price:
                                    <span class="text-success">$25.00</span>
                                    <span class="text-muted">per jersey</span>
                            </div>

                            <img src="/grabngoblack.png" alt="">
                            
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary" id="place-order">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
    </div>


    <script>
        const newOrder = document.getElementById('new-order');
        const sportsContainer = document.getElementById('sports-container');

        newOrder.addEventListener('click', function() {
            // Toggle visibility of sports container
            sportsContainer.style.display = (sportsContainer.style.display === 'none') ? 'block' : 'none';
        });
    </script>

    <script>
        const basketballBtn = document.getElementById('basketballBtn');
        const basketballContainer = document.getElementById('basketball-container');

        basketballBtn.addEventListener('click', function() {
            basketballContainer.style.display =(basketballContainer.style.display === 'none') ? 'block' : 'none';
        });
    </script>

    <script>
        const orderButton = document.getElementById('place-order');

        orderButton.addEventListener('click', function() {
            console.log('clicked');
            window.location.href = '/basketball-order';
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>