body {
    background-color: rgb(225, 248, 236);
}

nav {
    background-color: rgb(15, 130, 70);
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a,
nav h4 a {
    text-decoration: none;
    color: white;
    padding: 5px 8px;
}

nav li a:hover,
nav h4 a:hover {
    color: yellow;
    text-decoration: none;
}

.dropdown-toggle {
    background-color: rgb(24, 143, 82);
    border: none;
}

.dropdown-menu {
    background-color: rgb(24, 143, 82);
}

.container {
    height:auto; 
    overflow: auto;
    background-color:  rgb(225, 248, 236);
} */

.home-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.card-header {
    background-color: rgb(15, 130, 70);
    color: white;
}

.profile {
    text-align: center;
}

.avatar-ctn {
    background-color: orange;
    text-align: center;
}

.avatar {
    width: 65%;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

.sports-container {
    display: none;
}

.sports-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.basketball-container {
    display: none;
    text-align: center;
}

.basketball-row {
    display: flex;
    justify-content: space-evenly;
}

#required {
    color: red;
}

.size-container{
    display: flex;
}

.quantity, 
.jersey-size,
.total-per-size {
    display: flex;
    flex-direction: column;
}

.total-per-size {
    width: 100px;
    gap: 2px;
}

select {
    width: 75px;
    gap: 2px;
}

.ggorder {
    text-align: center;
}